/* Place CSS styles here */
body {
background-color: bisque;
}

/* HEADER */
.hippocamp-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hippocamp-main-nav {
    display: flex;
    gap: 16px;
}

.button { 
  background-color: peru;
  color: #efefef;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  padding: 12px;
  text-shadow: 3x 3px 7px rebeccapurple;
  text-align: center;
  font-weight: 700px;
  

}
p {
  color: white;
  text-align: center;
  size: 1000px;
  font-weight: 700px;
  
}


.hippocampus-team-list {
    padding-left: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 4px;
  }

body {
    background-color: pink;
  }
  
  img {
    width: 100%;
    height: auto;
  }


